<div class="fluid-container" id="page-content-wrapper">

  <nav class="navbar navbar-expand-lg navbar-dark pr-5 d-xl-none d-lg-none,d-none d-lg-block d-xl-none">
    <div></div>
    <center><a href="index.html" class="text-light"><h4 class="text-center d-xl-none">Marcell Pather</h4></a></center>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="force-overflow">
        <div class="sidebar-heading text-center">
          <div class="text-center">
            <br>
            <img src="marcell-color.jpg" class="rounded-circle" alt="Cinque Terre" width="200" height="200"><br>


          </div><br>
          <p class="text text-center text-white pb-2">Hi, my name is Marcell Pather and I'm<br>a software engineer. Welcome to my <br> personal website!</p>

          <a href="https://twitter.com/MarcellPather" target="_blank"><i class="fab fa-twitter fa-1x circle-icon2 twitter"></i></a>
          <a href="https://www.linkedin.com/in/marcell-pather-55549913b/" target="_blank"><i class="fab fa-linkedin-in fa-1x circle-icon2"></i></a>
          <a href="https://github.com/mpather47" target="_blank"><i class="fab fa-github-alt fa-1x circle-icon2"></i></a>
          <a href="https://stackoverflow.com/users/6952934/marcell-pather" target="_blank"><i class="fab fa-stack-overflow fa-1x circle-icon2"></i></a>
          <a href="https://codepen.io/mpather47" target="_blank">  <i class="fab fa-codepen fa-1x circle-icon2"></i></a>
          <div class="sidebarLine pb-3">  </div>
          <hr>
        </div>
        <div class="list-group">
          <ul class="list-unstyled text2 pl-3 ">
            <li class="pb-3"><i class="faz fas fa-user fa-1x pr-3"></i><a class="r" href="index.html"> About</a></li>
            <li class="pb-3"><i class="faz fas fa-laptop-code fa-1x pr-3 "></i><a class="r" href="Portfolio.html"> Portfolio</a></li>
            <li class="pb-3"><i class="faz fas fa-briefcase fa-1x pr-3"></i><a class="r" href="Services&Pricing.html">  Services & Pricing</a></li>
            <li><i class="faz fas fa-envelope-open-text fa-1x pr-3"></i><a class="r" href="Contact.html"> Contact</a></li>
          </ul>

          <br>
          <br>
        </div>
        <div class=" text-center  ">

          <button type="button" onclick="document.location='Contact.html'" class="btn btn-info btn-lg"><i class="fas fa-paper-plane"></i> Hire me</button>
          <br>
          <br>


        </div>
      </div>
      <br>
      <br>  <br>
      <br>
      <br>




    </div>
  </nav>

  <div class="jumbotron2 d-none d-sm-block, d-sm-none d-md-block,d-md-none d-lg-block">
    <div class="text-center">
      <h2 class="pt-4  font-weight-bold mb-1 text-white ">Contact</h2>
      <p class="descript">
        Interested in hiring me for your project or just want to say hi? You can fill in the contact form below or send me an email to <span><a class="text-info" href="https://mail.google.com/mail/?view=cm&  fs=1&tf=1&to=mpather47@gmail.com" target="_blank">mpather47@gmail.com</a></span>

        <br><br>Want to get connected? Follow me on the social channels below.
      </p>
      <a href="https://twitter.com/MarcellPather"><i class="fab fa-twitter fa-2x icon"></i></a>
      <a href="https://www.linkedin.com/in/marcell-pather-55549913b/"><i class="fab fa-linkedin-in fa-2x icon"></i></a>
      <a href="https://github.com/mpather47"><i class="fab fa-github-alt fa-2x icon"></i></a>
      <a href="https://www.instagram.com/spacemonkey303/"><i class="fab fa-instagram fa-2x icon"></i><i class="fab fa-stack-overflow fa-2x icon"></i></a>
      <a href="https://codepen.io/mpather47"> <i class="fab fa-codepen fa-2x icon"></i></a>

      <div class="pb-5">  </div>
    </div>
    <hr>
    <form id="contact-form" class="contact-form col-lg-8 mx-lg-auto" method="POST" action="https://formspree.io/mgepreww">
      <br>
      <h2 class="text-center mb-3 text-white font-weight-bold">Get In Touch</h2>
      <br>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="sr-only" for="cname">Name</label>
          <input type="text" class="form-control" id="cname" name="name" placeholder="Name" minlength="2" required="" aria-required="true">
        </div>
        <div class="form-group col-md-6">
          <label class="sr-only" for="cemail">Email</label>
          <input type="email" class="form-control" id="email" name="Email" placeholder="Email" required="" aria-required="true">
        </div>
        <div class="form-group col-12">
          <select id="services" class="custom-select" name="services">
            <option selected="">Select a service package you're interested in...</option>
            <option value="basic">Basic</option>
            <option value="standard">Standard</option>
            <option value="premium">Premium</option>
            <option value="not sure">Not sure</option>
          </select>
          <small class="form-text text-muted pt-1">Want to know what's included in each package? Check the <a href="Services&Pricing.html" target="_blank">Services &amp; Pricing</a> page.</small>
        </div>
        <div class="form-group col-12">
          <label class="sr-only" for="cmessage">Your message</label>
          <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="10" required="" aria-required="true"></textarea>
        </div>
        <div class="form-group col-12">
          <button type="submit" class="btn btn-block btn-primary py-2 ">Send Now</button>
          <div class="status"> </div>
        </div>
      </div><!--//form-row-->

    </form>




    <!-- /#page-content-wrapper -->


  </div>

  <div class="jumbotron d-block d-sm-none,d-none d-md-block d-lg-none">
    <div class="text-center">
      <h2 class="pt-4  font-weight-bold mb-1 text-white ">Contact</h2>
      <p class="descript">
        Interested in hiring me for your project or just want to say hi? You can fill in the contact form below or send me an email to <span><a class="text-info" href="https://mail.google.com/mail/?view=cm&  fs=1&tf=1&to=mpather47@gmail.com" target="_blank">mpather47@gmail.com</a></span>

        <br><br>Want to get connected? Follow me on the social channels below.
      </p>
      <a href="https://twitter.com/MarcellPather"><i class="fab fa-twitter fa-2x icon"></i></a>
      <a href="https://www.linkedin.com/in/marcell-pather-55549913b/"><i class="fab fa-linkedin-in fa-2x icon"></i></a>
      <a href="https://github.com/mpather47"><i class="fab fa-github-alt fa-2x icon"></i></a>
      <a href="https://www.instagram.com/spacemonkey303/"><i class="fab fa-instagram fa-2x icon"></i><i class="fab fa-stack-overflow fa-2x icon"></i></a>
      <a href="https://codepen.io/mpather47"> <i class="fab fa-codepen fa-2x icon"></i></a>

      <div class="pb-5">  </div>
    </div>
    <hr>
    <form id="contact-form" class="contact-form col-lg-8 mx-lg-auto" method="POST" action="https://formspree.io/mgepreww">
      <br>
      <h2 class="text-center mb-3 text-white font-weight-bold">Get In Touch</h2>
      <br>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="sr-only" for="cname">Name</label>
          <input type="text" class="form-control" id="cname" name="name" placeholder="Name" minlength="2" required="" aria-required="true">
        </div>
        <div class="form-group col-md-6">
          <label class="sr-only" for="cemail">Email</label>
          <input type="email" class="form-control" id="email" name="Email" placeholder="Email" required="" aria-required="true">
        </div>
        <div class="form-group col-12">
          <select id="services" class="custom-select" name="services">
            <option selected="">Select a service package you're interested in...</option>
            <option value="basic">Basic</option>
            <option value="standard">Standard</option>
            <option value="premium">Premium</option>
            <option value="not sure">Not sure</option>
          </select>
          <small class="form-text text-muted pt-1">Want to know what's included in each package? Check the <a href="Services&Pricing.html" target="_blank">Services &amp; Pricing</a> page.</small>
        </div>
        <div class="form-group col-12">
          <label class="sr-only" for="cmessage">Your message</label>
          <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="10" required="" aria-required="true"></textarea>
        </div>
        <div class="form-group col-12">
          <button type="submit" class="btn btn-block btn-primary py-2 ">Send Now</button>
          <div class="status"> </div>
        </div>
      </div><!--//form-row-->

    </form>

  </div>
</div>

<script language=”JavaScript”>

  var frmvalidator = new Validator(“contactform”); frmvalidator.addValidation(“name”, ”req”, ”Please provide your name”); frmvalidator.addValidation(“email”, ”req”, ”Please provide your email”); frmvalidator.addValidation(“email”, ”email”, “Please enter a valid email address”);</script>
