<div class="fluid-container" id="page-content-wrapper">
  <app-top-nav-menu></app-top-nav-menu>
  <div class="jumbotron2 d-none d-sm-block, d-sm-none d-md-block,d-md-none d-lg-block">
    <app-contact-form></app-contact-form>
  </div>
  <div class="jumbotron3 d-block d-sm-none,d-none d-md-block d-lg-none">
    <app-contact-form></app-contact-form>
  </div>
</div>

<script language=”JavaScript”>
  var frmvalidator = new Validator(“contactform”); frmvalidator.addValidation(“name”, ”req”, ”Please provide your name”); frmvalidator.addValidation(“email”, ”req”, ”Please provide your email”); frmvalidator.addValidation(“email”, ”email”, “Please enter a valid email address”);
</script>
