<div class="fluid-container" id="page-content-wrapper">

  <app-top-nav-menu></app-top-nav-menu>

  <div class="jumbotron2 d-none d-sm-block, d-sm-none d-md-block,d-md-none d-lg-block">
    <div class="text-center">
      <h2 class="pt-4 font-weight-bold text-white">Services & Pricing</h2>
      <p class="descript">
        I am a recent graduate with experience building software for the web and mobile devices. You can take a look at my <a class="text-info" href="Portfolio.html">project portfolio</a> and <a class="text-info" href="Resume.pdf" target="_blank">online resume</a> to find out more about my skills and experiences.

        <br><br>I'm currently taking on freelance software development work. You're welcome to contact me for a custom quote for your project. I also offer development service packages with fixed pricing.
      </p>

      <div class="pb-3">  </div>
    </div>
    <hr>
    <center class="mb-4 mt-5"><h3 class="text-white font-weight-bold">Service Packages</h3></center>
    <br>

    <br>

    <br>
    <h6 class="text-center coming">Coming Soon...</h6>




    <!-- /#page-content-wrapper -->


  </div>

  <div class="jumbotron3 d-block d-sm-none,d-none d-md-block d-lg-none">
    <div class="text-center">
      <h2 class="pt-4 font-weight-bold text-white">Services & Pricing</h2>
      <p class="descript">
        I am a recent graduate with experience building software for the web and mobile devices. You can take a look at my <a class="text-info" href="Portfolio.html">project portfolio</a> and <a class="text-info" href="Resume.pdf" target="_blank">online resume</a> to find out more about my skills and experiences.

        <br><br>I'm currently taking on freelance software development work. You're welcome to contact me for a custom quote for your project. I also offer development service packages with fixed pricing.
      </p>

      <div class="pb-3">  </div>
    </div>
    <hr>
    <center class="mb-4 mt-5"><h3 class="text-white font-weight-bold">Service Packages</h3></center>
    <br>

    <br>

    <br>
    <h6 class="text-center coming">Coming Soon...</h6>


    <br>
    <br>
    <br>
    <br>

    <!-- /#page-content-wrapper -->


  </div>
</div>
