<div id="carouselExampleIndicators" class="carousel slide d-none d-sm-block, d-sm-none d-md-block,d-md-none d-lg-block pb-5 pt-5 pl-5" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

  </ol>

  <div class="carousel-inner text-white">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Marcell is diligent towards his work performance and always understands what is expected of him. I would recommend Marcel to any work place, and believe he will perform well and always give his best.</p>
              <div class="resultContainer">
                <img src="/assets/images/rachel.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                <div class="wrapper">
                  <i class="bookTitle">
                    Rachel Klein <br />
                    <i class="bookPrice">
                      Intern Developer at Full Stack
                    </i>
                  </i>
                </div>
                <div class="bookTitle"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <p class="card-text">I have worked with Marcell since 2017. He has always showed passion in his work. He has shown a lot of dedication throughout the years and always strives to be the best. If I were a business owner, Marcell would be the first person I hire</p>
              <div class="resultContainer">
                <img src="/assets/images/sherwin.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                <div class="wrapper">
                  <i class="bookTitle">
                    Sherwin Adams <br />
                    <i class="bookPrice">
                      Student at CPUT
                    </i>
                  </i>
                </div>
                <div class="bookTitle"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Marcell is an absolute pleasure to work with on projects. He adds a critical and analytical mind to every team environment. He has a strong sense of work ethics and always proves himself capable in various situations. He has performed nothing less than excellent on every task he was assigned when collaborating in a team. He has good communication skills and his team work is of the finest quality.</p>
              <div class="resultContainer">
                <img src="/assets/images/pp.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                <div class="wrapper">
                  <i class="bookTitle">
                    Bradley van der Westerhuizen <br />
                    <i class="bookPrice">
                      Student at CPUT
                    </i>
                  </i>
                </div>
                <div class="bookTitle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="carousel-item">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Marcell is a great team worker and a brilliant team leader. I had the pleasure of working with him on a management system project for our third year, and got to experience first hand his inquisitive mind, quick thinking and great team building skills. He understands well what is expected of him and always does his best to look out for his peers and make sure no one gets left behind. He has shown himself to be a natural programmer and I am sure any team would do nothing but prosper with him on board.</p>
              <div class="resultContainer">
                <img src="/assets/images/Cameron.jpeg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                <div class="wrapper">
                  <i class="bookTitle">
                    Cameron Mostert <br />
                    <i class="bookPrice">
                      Student at CPUT
                    </i>
                  </i>
                </div>
                <div class="bookTitle"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Marcel is a passionate software developer. We have worked together on a few projects. He has knowledge of agile methodologies. He is well versed in JVM languages such as Java and Scala. I have seen how he can effectively handle tight deadlines and deliver quality work. He is a good developer to have on one's team as he not only possesses technical abilities but also communication abilities and even more.</p>
              <div class="resultContainer">
                <img src="/assets/images/claude.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                <div class="wrapper">
                  <i class="bookTitle">
                    Chris Claude <br />
                    <i class="bookPrice">
                      Software Developer at Exigent Group Limited
                    </i>
                  </i>
                </div>
                <div class="bookTitle"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Marcell brings a lot of good qualities to the team and shows how capable and dependable he is. His enthusiasm in IT shows as he goes above and beyond in delivering what was needed for assignments. He’s involvement in the team is always beneficial since he tries to view things in the quickest yet best solution to obtaining the projected outcome.  Furthermore, his willingness to learn and apply newly acquire skills to better the assignments brought a new level of competitiveness and dedication to the team to succeed. </p>
              <div class="resultContainer">
                <img src="/assets/images/Chad.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                <div class="wrapper">
                  <i class="bookTitle">
                    Chad Stevens <br />
                    <i class="bookPrice">
                      Student at CPUT
                    </i>
                  </i>
                </div>
                <div class="bookTitle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="sr-only">Next</span>
  </a>
</div>


<div id="carouselExampleIndicators" class="carousel slide d-block d-sm-none,d-none d-md-block d-lg-none pb-5 pt-5 " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>

  </ol>
  <div class="carousel-inner text-white ">
    <div class="carousel-item active">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Marcell is diligent towards his work performance and always understands what is expected of him. I would recommend Marcel to any work place, and believe he will perform well and always give his best.</p>
          <div class="resultContainer">
            <img src="/assets/images/rachel.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
            <div class="wrapper">
              <i class="bookTitle">
                Rachel Klein <br />
                <i class="bookPrice">
                  Intern Developer at Full Stack
                </i>
              </i>
            </div>
            <div class="bookTitle"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <p class="card-text">I have worked with Marcell since 2017. He has always showed passion in his work. He has shown a lot of dedication throughout the years and always strives to be the best. If I were a business owner, Marcell would be the first person I hire</p>
          <div class="resultContainer">
            <img src="/assets/images/sherwin.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
            <div class="wrapper">
              <i class="bookTitle">
                Sherwin Adams<br />
                <i class="bookPrice">
                  Student at CPUT
                </i>
              </i>
            </div>
            <div class="bookTitle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Marcell is an absolute pleasure to work with on projects. He adds a critical and analytical mind to every team environment. He has a strong sense of work ethics and always proves himself capable in various situations. He has performed nothing less than excellent on every task he was assigned when collaborating in a team. He has good communication skills and his team work is of the finest quality.</p>
          <div class="resultContainer">
            <img src="/assets/images/pp.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
            <div class="wrapper">
              <i class="bookTitle">
                Bradley van der Westerhuizen <br />
                <i class="bookPrice">
                  Student at CPUT
                </i>
              </i>
            </div>
            <div class="bookTitle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Marcell is a great team worker and a brilliant team leader. I had the pleasure of working with him on a management system project for our third year, and got to experience first hand his inquisitive mind, quick thinking and great team building skills. He understands well what is expected of him and always does his best to look out for his peers and make sure no one gets left behind. He has shown himself to be a natural programmer and I am sure any team would do nothing but prosper with him on board.</p>
          <div class="resultContainer">
            <img src="/assets/images/Cameron.jpeg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
            <div class="wrapper">
              <i class="bookTitle">
                Cameron Mostert <br />
                <i class="bookPrice">
                  Student at CPUT
                </i>
              </i>
            </div>
            <div class="bookTitle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Marcel is a passionate software developer. We have worked together on a few projects. He has knowledge of agile methodologies. He is well versed in JVM languages such as Java and Scala. I have seen how he can effectively handle tight deadlines and deliver quality work. He is a good developer to have on one's team as he not only possesses technical abilities but also communication abilities and even more.</p>
          <div class="resultContainer">
            <img src="/assets/images/claude.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
            <div class="wrapper">
              <i class="bookTitle">
                Chris Claude <br />
                <i class="bookPrice">
                  Software Developer at Exigent Group Limited
                </i>
              </i>
            </div>
            <div class="bookTitle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Marcell brings a lot of good qualities to the team and shows how capable and dependable he is. His enthusiasm in IT shows as he goes above and beyond in delivering what was needed for assignments. He’s involvement in the team is always beneficial since he tries to view things in the quickest yet best solution to obtaining the projected outcome.  Furthermore, his willingness to learn and apply newly acquire skills to better the assignments brought a new level of competitiveness and dedication to the team to succeed.</p>
          <div class="resultContainer">
            <img src="/assets/images/Chad.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
            <div class="wrapper">
              <i class="bookTitle">
                Chad Stevens <br />
                <i class="bookPrice">
                  Student at CPUT
                </i>
              </i>
            </div>
            <div class="bookTitle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="sr-only">Next</span>
  </a>
</div>
