<div class="ex3" id="style-1">
  <div class="force-overflow">
    <div class="sidebar-heading text-center">
      <h4 class="text-center font-weight-bold">Marcell Pather</h4><br>
      <div class="text-center">
        <img src="/assets/images/marcell-color.jpg" class="rounded-circle" alt="Cinque Terre" width="200" height="200"><br>

      </div><br>
      <p class="text text-center pb-2">Hi, my name is Marcell Pather and I'm<br>a software engineer. Welcome to my <br> personal website!</p>

      <a href="https://twitter.com/MarcellPather" target="_blank"><i class="fab fa-twitter fa-1x circle-icon"></i></a>
      <a href="https://www.linkedin.com/in/marcell-pather-55549913b/" target="_blank"><i class="fab fa-linkedin-in fa-1x circle-icon"></i></a>
      <a href="https://github.com/mpather47" target="_blank"><i class="fab fa-github-alt fa-1x circle-icon"></i></a>
      <a href="https://stackoverflow.com/users/6952934/marcell-pather" target="_blank"><i class="fab fa-stack-overflow fa-1x circle-icon"></i></a>
      <a href="https://codepen.io/mpather47" target="_blank">  <i class="fab fa-codepen fa-1x circle-icon"></i></a>
      <div class="sidebarLine pb-3">  </div>
      <hr>
    </div>
    <div class="list-group">
      <ul class="list-unstyled text2 pl-5">
        <li class="pb-3"  [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-user fa-1x pr-2"></i><a class="r" [routerLink]="['/']"> About</a></li>
        <li class="pb-3" [routerLinkActive]="['link-active']"><i class="fas fa-laptop-code fa-1x pr-1"></i><a class="r" [routerLink]="['/portfolio']"> Portfolio</a></li>
        <li class="pb-3" [routerLinkActive]="['link-active']"><i class="fas fa-briefcase fa-1x pr-2"></i><a class="r" [routerLink]="['/services']">  Services & Pricing</a></li>
        <li><i class="fas fa-envelope-open-text fa-1x pr-2" [routerLinkActive]="['link-active']"></i><a class="r" [routerLink]="['/contact']"> Contact</a></li>
      </ul>

      <br>
    </div>
    <div class=" text-center  ">
      <button type="button" [routerLink]="['/contact']" class="btn btn-info btn-lg"><i class="fas fa-paper-plane"></i> Hire me</button>
      <br>
      <br>


    </div>
  </div>
  <br>
  <br>  <br>
  <br>
  <br>
  <br>  <br>
  <br>  <br>
  <br>


</div>
