<div class="fluid-container" id="page-content-wrapper">

  <!--<--nav---->
  <app-top-nav-menu></app-top-nav-menu>

  <div class="jumbotron">
    <div class="row top">
      <div class="col-md-6 pt-5  d-none d-sm-block, d-sm-none d-md-block,d-md-none d-lg-block">
        <h1 class="font-weight-bold mb-1 text-white">Marcell Pather<br><h4 class="text-white font-weight-light">Junior Software Engineer</h4></h1>
        <p class=" main ">
          I'm a software engineer specialised in frontend and
          backend development for a variety of complex apps.
          Want to know how I may help your project?
          Check out my project portfolio and online resume.
        </p>
        <br>
        <div>
          <button type="button" onclick="document.location='Portfolio.html'" class="btn btn-outline-info btn-lg"><i class="fas fa-arrow-alt-circle-right"></i> View Portfolio</button>
          <button type="button" onclick="document.location='Resume.pdf'" class="btn btn-info btn-lg"><i class="fas fa-file"></i> Resume</button>
        </div>

      </div>

      <div class="col-md-6    d-block d-sm-none,d-none d-md-block d-lg-none">
        <h1 class="font-weight-bold mb-1 text-white">Marcell Pather<br><h4 class="text-white font-weight-light">Junior Software Engineer</h4></h1>
        <p class=" main ">
          I'm a software engineer specialised in frontend and
          backend development for a variety of complex apps.
          Want to know how I may help your project?
          Check out my project portfolio and online resume.
        </p>
        <br>
        <div>
          <button type="button" onclick="document.location='Portfolio.html'" class="btn btn-outline-info btn-lg"><i class="fas fa-arrow-alt-circle-right"></i> View Portfolio</button>
          <button type="button" onclick="document.location='Resume.pdf'" class="btn btn-info btn-lg"><i class="fas fa-file"></i> Resume</button>
        </div>

      </div>

      <div class="col-md-6 pt-5  d-none d-sm-block, d-sm-none d-md-block,d-md-none d-lg-block">
        <img class="img-circle" src="marcell-bw.jpg" width="340" height="340">
      </div>

      <div class="col-md-6 pt-5   d-block d-sm-none,d-none d-md-block d-lg-none">
        <center><img class="img-circle" src="marcell-bw.jpg" width="300" height="300"></center>
      </div>
    </div>

    <div class="jumbotron">
      <div class="pb-3"><hr></div>

      <h2 class="name font-weight-bold text-white d-none d-sm-block, d-sm-none d-md-block,d-md-none d-lg-block"><i class="fas fa-slash fa-sm"></i>What do I do</h2>
      <h2 class="name2 font-weight-bold text-white  d-block d-sm-none,d-none d-md-block d-lg-none"><i class="fas fa-slash fa-sm"></i>What do I do</h2>
      <br>
      <p class="what main">
        I am a recent graduate with experience in various technologies and programming languages. Below is a quick overview
        of my main technical skill sets and technologies I use. Want to find
        out more about my experience? Check out my online resume and project
        portfolio.
      </p>

      <div class="skills">
        <div class="row text-white pt-5">
          <div class="col-6 col-lg-3 ">
            <h6> <i class="fab fa-js-square fa-2x"></i> <br>JavaScript</h6>
            <p class="main">Scalable and dynamic web applications, web and mobile solutions with interactive user interfaces</p>
          </div>
          <div class="col-6 col-lg-3">
            <h6> <i class="fab fa-java fa-2x"></i><br>Java</h6>
            <p class="main">Object Oreinted Programming, Domain Driven Design, Test Driven Design, Springboot Intergrated Applications,REST API's</p>
          </div>
          <div class="col-6 col-lg-3">
            <h6><img src="iconfinder_page_white_csharp_36274.png" width="33" /><br>C#</h6>
            <p class="main">Object Oriented Programming, Game Development in C# framework such as Unity</p>
          </div>
          <div class="col-6 col-lg-3">
            <h6><i class="fab fa-python fa-2x"></i><br>Python</h6>
            <p class="main">Machine learning prediction modules and AI chatbot development, Automation using selenium</p>
          </div>
        </div>

        <div class="row text-white pt-5">
          <div class="col-6 col-lg-3">
            <h6><img src="iconfinder_scala_4691541.png" width="35" /><br>Scala</h6>
            <p class="main">Functional Programming, Object Oriented Programming, Lambda Expression </p>
          </div>
          <div class="col-6 col-lg-3">
            <h6><i class="fab fa-html5 fa-2x"></i>  <i class="fab fa-css3-alt fa-2x"></i><br>HTML & CSS</h6>
            <p class="main">Static multi-page websites. Convert your PSD designs to HTML format </p>
          </div>
          <div class="col-6 col-lg-3">
            <h6><i class="fab fa-react fa-2x"></i><br>REACT</h6>
            <p class="main">Large scalable web applications, modular interface designs, improved website performance</p>
          </div>
          <div class="col-6 col-lg-3">
            <h6><i class="fa fa-database fa-2x"></i><br>SQL</h6>
            <p class="main">Database integration, data normalization, database management systems</p>
          </div>
        </div>

        <div class="pt-5 text-center pb-5">
          <button type="button" onclick="document.location='Services&Pricing.html'" class="btn btn-info btn-lg"><i class="fas fa-arrow-alt-circle-right"></i> Services and Pricing</button>
        </div>
        <hr>

        <h2 class="name font-weight-bold mb-1 text-white  pt-5"><i class="fas fa-slash fa-sm mr-2"></i>Testimonials</h2>
      </div>

      <div id="carouselExampleIndicators" class="carousel slide d-none d-sm-block, d-sm-none d-md-block,d-md-none d-lg-block pb-5 pt-5 pl-5" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

        </ol>

        <div class="carousel-inner text-white">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">Marcell is diligent towards his work performance and always understands what is expected of him. I would recommend Marcel to any work place, and believe he will perform well and always give his best.</p>
                    <div class="resultContainer">
                      <img src="rachel.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                      <div class="wrapper">
                        <i class="bookTitle">
                          Rachel Klein <br />
                          <i class="bookPrice">
                            Intern Developer at Full Stack
                          </i>
                        </i>
                      </div>
                      <div class="bookTitle"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">I have worked with Marcell since 2017. He has always showed passion in his work. He has shown a lot of dedication throughout the years and always strives to be the best. If I were a business owner, Marcell would be the first person I hire</p>
                    <div class="resultContainer">
                      <img src="sherwin.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                      <div class="wrapper">
                        <i class="bookTitle">
                          Sherwin Adams <br />
                          <i class="bookPrice">
                            Student at CPUT
                          </i>
                        </i>
                      </div>
                      <div class="bookTitle"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">Marcell is an absolute pleasure to work with on projects. He adds a critical and analytical mind to every team environment. He has a strong sense of work ethics and always proves himself capable in various situations. He has performed nothing less than excellent on every task he was assigned when collaborating in a team. He has good communication skills and his team work is of the finest quality.</p>
                    <div class="resultContainer">
                      <img src="pp.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                      <div class="wrapper">
                        <i class="bookTitle">
                          Bradley van der Westerhuizen <br />
                          <i class="bookPrice">
                            Student at CPUT
                          </i>
                        </i>
                      </div>
                      <div class="bookTitle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">Marcell is a great team worker and a brilliant team leader. I had the pleasure of working with him on a management system project for our third year, and got to experience first hand his inquisitive mind, quick thinking and great team building skills. He understands well what is expected of him and always does his best to look out for his peers and make sure no one gets left behind. He has shown himself to be a natural programmer and I am sure any team would do nothing but prosper with him on board.</p>
                    <div class="resultContainer">
                      <img src="Cameron.jpeg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                      <div class="wrapper">
                        <i class="bookTitle">
                          Cameron Mostert <br />
                          <i class="bookPrice">
                            Student at CPUT
                          </i>
                        </i>
                      </div>
                      <div class="bookTitle"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">Marcel is a passionate software developer. We have worked together on a few projects. He has knowledge of agile methodologies. He is well versed in JVM languages such as Java and Scala. I have seen how he can effectively handle tight deadlines and deliver quality work. He is a good developer to have on one's team as he not only possesses technical abilities but also communication abilities and even more.</p>
                    <div class="resultContainer">
                      <img src="claude.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                      <div class="wrapper">
                        <i class="bookTitle">
                          Chris Claude <br />
                          <i class="bookPrice">
                            Software Developer at Exigent Group Limited
                          </i>
                        </i>
                      </div>
                      <div class="bookTitle"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">Marcell brings a lot of good qualities to the team and shows how capable and dependable he is. His enthusiasm in IT shows as he goes above and beyond in delivering what was needed for assignments. He’s involvement in the team is always beneficial since he tries to view things in the quickest yet best solution to obtaining the projected outcome.  Furthermore, his willingness to learn and apply newly acquire skills to better the assignments brought a new level of competitiveness and dedication to the team to succeed. </p>
                    <div class="resultContainer">
                      <img src="Chad.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                      <div class="wrapper">
                        <i class="bookTitle">
                          Chad Stevens <br />
                          <i class="bookPrice">
                            Student at CPUT
                          </i>
                        </i>
                      </div>
                      <div class="bookTitle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>


      <div id="carouselExampleIndicators" class="carousel slide d-block d-sm-none,d-none d-md-block d-lg-none pb-5 pt-5 " data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>

        </ol>
        <div class="carousel-inner text-white ">
          <div class="carousel-item active">
            <div class="card">
              <div class="card-body">
                <p class="card-text">Marcell is diligent towards his work performance and always understands what is expected of him. I would recommend Marcel to any work place, and believe he will perform well and always give his best.</p>
                <div class="resultContainer">
                  <img src="rachel.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                  <div class="wrapper">
                    <i class="bookTitle">
                      Rachel Klein <br />
                      <i class="bookPrice">
                        Intern Developer at Full Stack
                      </i>
                    </i>
                  </div>
                  <div class="bookTitle"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <p class="card-text">I have worked with Marcell since 2017. He has always showed passion in his work. He has shown a lot of dedication throughout the years and always strives to be the best. If I were a business owner, Marcell would be the first person I hire</p>
                <div class="resultContainer">
                  <img src="sherwin.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                  <div class="wrapper">
                    <i class="bookTitle">
                      Sherwin Adams<br />
                      <i class="bookPrice">
                        Student at CPUT
                      </i>
                    </i>
                  </div>
                  <div class="bookTitle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <p class="card-text">Marcell is an absolute pleasure to work with on projects. He adds a critical and analytical mind to every team environment. He has a strong sense of work ethics and always proves himself capable in various situations. He has performed nothing less than excellent on every task he was assigned when collaborating in a team. He has good communication skills and his team work is of the finest quality.</p>
                <div class="resultContainer">
                  <img src="pp.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                  <div class="wrapper">
                    <i class="bookTitle">
                      Bradley van der Westerhuizen <br />
                      <i class="bookPrice">
                        Student at CPUT
                      </i>
                    </i>
                  </div>
                  <div class="bookTitle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <p class="card-text">Marcell is a great team worker and a brilliant team leader. I had the pleasure of working with him on a management system project for our third year, and got to experience first hand his inquisitive mind, quick thinking and great team building skills. He understands well what is expected of him and always does his best to look out for his peers and make sure no one gets left behind. He has shown himself to be a natural programmer and I am sure any team would do nothing but prosper with him on board.</p>
                <div class="resultContainer">
                  <img src="Cameron.jpeg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                  <div class="wrapper">
                    <i class="bookTitle">
                      Cameron Mostert <br />
                      <i class="bookPrice">
                        Student at CPUT
                      </i>
                    </i>
                  </div>
                  <div class="bookTitle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <p class="card-text">Marcel is a passionate software developer. We have worked together on a few projects. He has knowledge of agile methodologies. He is well versed in JVM languages such as Java and Scala. I have seen how he can effectively handle tight deadlines and deliver quality work. He is a good developer to have on one's team as he not only possesses technical abilities but also communication abilities and even more.</p>
                <div class="resultContainer">
                  <img src="claude.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                  <div class="wrapper">
                    <i class="bookTitle">
                      Chris Claude <br />
                      <i class="bookPrice">
                        Software Developer at Exigent Group Limited
                      </i>
                    </i>
                  </div>
                  <div class="bookTitle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <p class="card-text">Marcell brings a lot of good qualities to the team and shows how capable and dependable he is. His enthusiasm in IT shows as he goes above and beyond in delivering what was needed for assignments. He’s involvement in the team is always beneficial since he tries to view things in the quickest yet best solution to obtaining the projected outcome.  Furthermore, his willingness to learn and apply newly acquire skills to better the assignments brought a new level of competitiveness and dedication to the team to succeed.</p>
                <div class="resultContainer">
                  <img src="Chad.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                  <div class="wrapper">
                    <i class="bookTitle">
                      Chad Stevens <br />
                      <i class="bookPrice">
                        Student at CPUT
                      </i>
                    </i>
                  </div>
                  <div class="bookTitle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>

      <hr>
      <h2 class="name font-weight-bold mb-1 text-white  pt-5 pb-5"><i class="fas fa-slash fa-sm mr-2"></i>Featured projects</h2>

      <div class="row text-white cardClass">
        <div class="col-md-6">
          <a href="https://challenge-d9dfb.web.app/" target="_blank">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://media3.s-nbcnews.com/j/newscms/2020_26/3391986/200623-amazon-al-0810_47f0335770a02be8ee80770a51c02c7a.fit-760w.jpg" width="100%" height="250">


                </div>
                <div class="col-md-8">
                  <div class="card-body">

                    <h5 class="card-title">Amazon Fullstack E-commerce Website</h5>
                    <p class="card-text">This was a project built with React, Firebase and JS. This project consists of a fully functional e-commerce website with user authentication and secure payment method.</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <br>

        <br>

      </div>
      <br>



      <div class="pt-5 text-center">

        <button type="button" onclick="document.location='Portfolio.html'" class="btn btn-info btn-lg"><i class="fas fa-arrow-alt-circle-right"></i>View Portfolio</button>
      </div>
    </div>

  </div>
</div>
